<!DOCTYPE html>
<html>

{% load static %}

<head>
<title>My Sales Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "icon", href = "{% static 'images/IITG_logo.png' %}", type = "image/x-icon"> 
<link rel="stylesheet", href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Noto Sans", sans-serif}
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4;
display: flex;
flex-direction:row;
height:40px;
">
    <div>
  <!-- <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button> -->
  <span class="w3-bar-item w3-right"><img src = "{% static 'images/IITG_logo.png' %}", style = "width: 2%;"> My Sales Analytics</span>
</div>
  <div style="display: flex;
  flex-direction: column;
  justify-content: center;">
    <p style="width:400px;"

    
    >Developed and Maintained by Nityam Pareek</p>
  </div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row  w3-cell-middle">
    <div class="w3-col s4">
      <img src="{% static 'images/chiranjib_sur.jpg' %}" class="w3-circle w3-margin-right" style="width:75px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Chiranjib</strong></span><br>
      <!-- <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a> -->
      <!-- <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a> -->
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> Overview</a>
    <a href="{% url 'customers' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Customers</a>
    <a href="{% url 'orders' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cart-plus fa-fw fa-solid"></i> Orders</a>
    <a href="{% url 'products' %}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-gift fa-solid fa-fw"></i> Products</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dropbox"></i> Product Analysis</b></h5>
  </header>

  <div class="w3-container">
    <h5>Inventory Analysis</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <th bgcolor="#2196F3">Product Category</th>
        <th bgcolor="#2196F3">Number of Products in Catalog</th>
      </tr>
      {% for row in catalog %}
      <tr>
        <td>{{row.product_category_name}}</td>
        <td>{{row.total_products}}</td>
      </tr>
      {% endfor %}
    </table><br>
  </div>

  <div class="w3-container">
    <h5>Best Selling Product Categories</h5>
    <canvas id="myBarPlot" width="10" height="10"></canvas>
  </div>

  <h5 style="padding-left: 2%;">Total Sales Per Month</h5>

  <div style="height: 450px; width: 1230px; padding-left: 2%; padding-right: 2%; padding-top: 2%; padding-bottom: 5%;">
    <canvas id="myLineChart"></canvas>
  </div>

   <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

var data = JSON.parse('{{ bar_plot | safe }}');

options = {
    scales: {
        x: {
            grid: {
                color: 'rgba(211, 211, 211, 0.8)', // Light grey grid lines for X axis
                drawBorder: false,
                drawOnChartArea: true,
                drawTicks: false,
            }
        },
        y: {
            grid: {
                color: 'rgba(211, 211, 211, 0.8)', // Light grey grid lines for Y axis
                drawBorder: false,
                drawOnChartArea: true,
                drawTicks: false,
            }
        }
    },
    plugins: {
        legend: {
            labels: {
                color: 'black' // Adjust label color if necessary
            }
        }
    },
    responsive: true,
    maintainAspectRatio: true,
    aspectRatio: 3
};

// Create the chart with the data and options
var region_bar_plot = new Chart(document.getElementById('myBarPlot'), {
    type: 'bar',
    data: data,
    options: options
});

var line_data = JSON.parse('{{ line_plot | safe }}')

line_options = {
  responsive: true,
  plugins: {
    legend: {
        display: false
    }
  },
  maintainAspectRatio: false
}

const line_ctx = document.getElementById('myLineChart').getContext('2d');
const myLineChart = new Chart(line_ctx, {
  type: 'line',
  data: line_data,
  options: line_options
})

</script>

</body>
</html>
